.popup__close-icon {
    position: absolute;
    height: 40px;
    color: #FFFFFF;
    left: 50%;
    top: 50%;
    margin-left: 210px;
    margin-top: -200px;
    cursor: pointer;
    z-index: 2;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 760px) {
    .popup__close-icon {
        left: 50%;
        top: 50%;
        margin-left: 110px;
        margin-top: -200px;
    }
}