.element__vector_active {
    opacity: 1;
    background: url(https://code.s3.yandex.net/web-code/dom/heart-filled.svg) center no-repeat;
    /*background-image: url(../../../../images/likeblack.svg);*/
    /* background-position: center;
    background-size: 22px;
    background-repeat: no-repeat;
    border: none;
    background-color: #FFF;*/
}

.element__vector_active:hover {
    border: 2px solid rgb(58, 5, 204);
    transition: 0.4s;
}