.popup__close {
    position: absolute;
    border: none;
    padding: 0;
    left: 50%;
    top: 50%;
    margin-left: 215px;
    margin-top: -205px;
    cursor: pointer;
    background-color: #000;
    transform: rotate(-45deg);
    outline: none;
}

.popup__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 760px) {
    .popup__close {
        left: 50%;
        top: 50%;
        margin-left: 115px;
        margin-top: -200px;
    }
}