.popupimg__close {
    position: absolute;
    border: none;
    padding: 0;
    right: -40px;
    top: -40px;
    cursor: pointer;
    background-color: transparent;
    transform: rotate(-45deg);
    outline: none;
}

.popupimg__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1000px) {
    .popupimg__close {
        right: 0;
        top: -40px;
    }
}