/*.popup__closebutton {
    position: absolute;
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    left: 50%;
    top: 50%;
    margin-left: 210px;
    margin-top: -200px;
}


@media screen and (max-width: 760px) {
    .popup__closebutton {
        left: 50%;
        top: 50%;
        margin-left: 105px;
        margin-top: -205px;
    }  
}
*/
